<!-- about snippet -->

<hr>

<div style="text-align: center">
  <div style="font-size: 36px">
    Hello, I'm <a href="https://soumyak4.in/Experiences" style="color: #FF5733;"> Soumya</a> <br>
  </div>
  <u style="font-size: 18px; color: #FF5733;">
    A Student / Teacher from Kolkata, India 
  </u>
</div>
<hr>
<h5 style="text-align: center">
    I've created This Roadmap in 2021 from my experience of becoming an Intermediate Level Player, <br>
    With Just 1 Year of Self Studies, using online free resources.<br />
    I hope this helps you on Your Journey as well. <br>
    <b>Good Luck, Have Fun!!</b>
</h5>  
<hr>
